@model VeloxPizza.Models.Prodotto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Prodotto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeProdotto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeProdotto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImgProdotto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImgProdotto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrezzoProdotto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrezzoProdotto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TempoConsegna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TempoConsegna)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredienti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredienti)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdProdotto }) |
    @Html.ActionLink("Back to List", "Index")
</p>
